<!DOCTYPE html>

<html>

<head>
    <title> Weather</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src= "/image/images.jpg" alt="">
        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="Location">
            <button> Search </button>
        </form>


        <p id ="Message-1"></p>
        <p id = "Message-2"></p>
    </div>

    {{>footer}}
        <script src="/js/app.js"></script>
</body>

</html>